<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.leventenyiro.lightairlines">

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".kezdoActivity.LoadingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BlueTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kezdoActivity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GrayTheme" />
        <activity
            android:name=".kezdoActivity.Reg1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".kezdoActivity.Reg2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".kezdoActivity.Reg3Activity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".kezdoActivity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme" />
        <activity
            android:name=".userActivity.InnerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".globalActivity.PasswordUpdateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".userActivity.JaratActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".userActivity.FoglalasActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".userActivity.JegyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".userActivity.MegerositesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GrayTheme" />
        <activity
            android:name=".adminActivity.MegtekintesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".adminActivity.AdminActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".adminActivity.JaratInsertActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />
    </application>

</manifest>