<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.leventenyiro.lightairlines">

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".kezdoActivityk.LoadingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BlueTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kezdoActivityk.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GrayTheme" />
        <activity
            android:name=".kezdoActivityk.Reg1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".kezdoActivityk.Reg2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".kezdoActivityk.Reg3Activity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".kezdoActivityk.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GrayTheme" />
        <activity
            android:name=".userActivityk.InnerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".userActivityk.PasswordUpdate"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".userActivityk.JaratActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".userActivityk.FoglalasActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".userActivityk.JegyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".userActivityk.Megerosites"
            android:screenOrientation="portrait"
            android:theme="@style/GrayTheme" />
        <activity android:name=".adminActivityk.MegtekintesActivity" />
        <activity
            android:name=".adminActivityk.AdminActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".adminActivityk.JaratInsertActivity"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>